<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>
    <h1>Students</h1>
    <a href="/Students/Create" class="btn btn-primary mb-3">Add Student</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td class="d-flex justify-content-center align-items-center">
                        <a href="/Students/Details/@item.Id" class="nav-link me-3">Details</a>
                        <a href="/Students/Delete/@item.Id" class="nav-link me-3">Delete</a>
                        <a href="/Students/Update/@item.Id" class="nav-link">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
